
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 1px 10px 0;
}

.footer > .container {
  padding-right: 10px;
  padding-left: 10px;
}

.container > .text-muted {
    padding-top: 5px;
}

code {
  font-size: 80%;
}